  {% block content %}

    <head>
 <script>
      function displayResults() {
      var div = document.getElementById('data');
      var google={{google | safe}};

      //console.log(bing);
      for (var i = 0; i < google.items.length; i++) {
        var item = google.items[i];
        div.innerHTML = div.innerHTML + "<p color=class='inner' id="+i+">"+"<h1 style="+"font-size:20px;color:blue;"+">"+item.htmlTitle+" </h1>" +"</p>" ;
        div.innerHTML = div.innerHTML + "<a class='inner' id="+i+" href="+item.link+">" + item.displayLink + "</a>" ;
        div.innerHTML = div.innerHTML + "<p class='inner' id="+i+">"+ item.snippet +"</p>" ;
        div.innerHTML = div.innerHTML + "<a class='inner' id="+i+" href="+item.formattedUrl+">" + item.formattedUrl + "</a>" ;
        // div.innerHTML = div.innerHTML + "<p class='inner' id="+i+">"+ item.formattedUrl +"</p>" + "<br>" + "<br/>" ";

        //div.innerHTML = div.innerHTML + "<a class='inner' id="+i+" href="+item.displayLink+"></a>" + "<br>";
        console.log(item);
        // in production code, item.htmlTitle should have the HTML entities escaped.
        //document.getElementById("content").innerHTML += "<br>" + item.htmlTitle;
      }
    }
    window.onload = displayResults;
    </script>

    </head>

  <body >

        <div id="data" class="container">

        </div>


    </body>
  {% endblock %}